{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About me {% endblock %}</h1><br>
	<br>
	
	<h2> Why did you make this? </h2>
	<br>
	<p>I'm a BiSexual BiRomantic Cis Male and as such am interested in the complexity of Sexuality Romance and Gender. The saying "Gender isn't binary" sort of irked me as a programmer. By definition Binary can mean "relating to, composed of, or involving two things." but it can also mean the numbering system of base 2. With that thought i wondered: What would be an efficient way to represent gender in base 2. That thought snowballed and i looked up and i had created a method to show Gender Romantic and Sexual orientation in 1 single byte.</p>
	<br>
	<p> I'm not 100% whether this encapsulates all forms of Sexuality/Romance/Gender but this is a work in progress and i will update it when im made aware of its inadequacy.</p>
	<br>
	
	Copyright © 2020 Matthew Harris All rights reserved
{% endblock %}