{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} SRG Creator {% endblock %}</h1>
	<h2> Create SRG </h2>
	<form action="" method="post">
		<p>
			{{form.Gm.label}} 
			{{form.Gm(size=30)}} <br>
		</p>
		<p>
			{{form.Gf.label}} 
			{{form.Gf(size=30)}} <br>
		</p>
		<p>
			{{form.Rm.label}} 
			{{form.Rm(size=30)}} <br>
		</p>
		<p>
			{{form.Rf.label}} 
			{{form.Rf(size=30)}} <br>
		</p>
		<p>
			{{form.Rn.label}} 
			{{form.Rn(size=30)}} <br>
		</p>
		<p>
			{{form.Sm.label}} 
			{{form.Sm(size=30)}} <br>
		</p>
		<p>
			{{form.Sf.label}} 
			{{form.Sf(size=30)}} <br>
		</p>
		<p>
			{{form.Sn.label}} 
			{{form.Sn(size=30)}} <br>
		</p>
		</p>
		<p>
			{{form.T.label}} 
			{{form.T(size=30)}} <br>
		</p>
		</p>
		<p>
			{{form.Q.label}} 
			{{form.Q(size=30)}} <br>
		</p>
		<p>
			{{form.R.label}} 
			{{form.R(size=30)}} <br>
		</p>
		<p>
			{{form.G.label}} 
			{{form.G(size=30)}} <br>
		</p>
		<p>
			{{form.B.label}} 
			{{form.B(size=30)}} <br>
		</p>
		<p>
			{{form.SPP.label}} 
			{{form.SPP(size=30)}} <br>
		</p>
		<p>
			{{form.TPP.label}} 
			{{form.TPP(size=30)}} <br>
		</p>
		<p>
			{{form.S.label}} 
			{{form.S(size=30)}} <br>
		</p>
		<p>
			{{form.Submit(size=30)}} <br>
		</p>
	</form>
{% endblock %}