{% extends 'base.html' %}

{% block content %}
<br>
	<div>
		<a href="https://srgindex.herokuapp.com/create" class="buttonToggleS">Original</a><a href="https://srgindex.herokuapp.com/crest" class="buttonToggle">Crest</a>
	</div>
<br>
	<form action="" method="post">
	<div style="width: 100%; display: flex; align-items: center;justify-content: center">
		<table style="height: 50%; width: 50%; background-color: #263238;" border="5" width="50%" cellpadding="5">
			<tbody>
				<tr>
					<td style="width: 50%; text-align: center;">
						<h1><span style="color: #ffffff;">Create</span></h1>
					</td>
				</tr>
				<tr>
				<td style="width: 50%;">
					<table style="height: 50%; width: 50%; margin-left: auto; margin-right: auto;" border="0" width="50%" cellpadding="5">
						<tbody>
							<tr>
								<td style="width: 50%;text-align: left; color: #ffffff;">
									<p>
										{{form.Gender.label}}
									</p>
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.Gender(size=1)}}
										{{form.Go(size=6)}}<br>
										<p style="color: #ffffff;">
										If NB or overriding the colour please specify gender identity
										</p>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.O.label}}
										
								</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
										{{form.O(size=30)}}
										</p>
									</td>
							</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.BgRa.label}}
										
									</td>
									<td style="width: 50%; text-align: center;">
									<script>
   									function outputUpdateBgRa(BgRa) {
    								document.querySelector('#SelectedBgRa').value = Math.round(BgRa);
    								}
    								function outputUpdateBgGa(BgGa) {
    								document.querySelector('#SelectedBgGa').value = Math.round(BgGa);
    								}
    								function outputUpdateBgBa(BgBa) {
    								document.querySelector('#SelectedBgBa').value = Math.round(BgBa);
    								}
    								</script>
									<p style="color: #ffffff;">
										{{ form.BgRa(min=0, max=255, oninput="outputUpdateBgRa(value)") }}
       									<output for="BgRa" id="SelectedBgRa">
											{{ form.BgRa.data }}
										</output>
										<br>
										{{ form.BgGa(min=0, max=255, oninput="outputUpdateBgGa(value)") }}
       									<output for="BgGa" id="SelectedBgGa">
											{{ form.BgGa.data }}
										</output>
										<br>
										{{ form.BgBa(min=0, max=255, oninput="outputUpdateBgBa(value)") }}
       									<output for="BgBa" id="SelectedBgBa">
											{{ form.BgBa.data }}
										</output>
									</p>
								</td>
								</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.BgRb.label}}	
								</td>
								<td style="width: 50%; text-align: center;">
									<script>
   									function outputUpdateBgRb(BgRb) {
    								document.querySelector('#SelectedBgRb').value = Math.round(BgRb);
    								}
    								function outputUpdateBgGb(BgGb) {
    								document.querySelector('#SelectedBgGb').value = Math.round(BgGb);
    								}
    								function outputUpdateBgBb(BgBb) {
    								document.querySelector('#SelectedBgBb').value = Math.round(BgBb);
    								}
    								</script>
									<p style="color: #ffffff;">
										{{ form.BgRb(min=0, max=255, oninput="outputUpdateBgRb(value)") }}
       									<output for="BgRb" id="SelectedBgRb">
											{{ form.BgRb.data }}
										</output>
										<br>
										{{ form.BgGb(min=0, max=255, oninput="outputUpdateBgGb(value)") }}
       									<output for="BgGb" id="SelectedBgGb">
											{{ form.BgGb.data }}
										</output>
										<br>
										{{ form.BgBb(min=0, max=255, oninput="outputUpdateBgBb(value)") }}
       									<output for="BgBb" id="SelectedBgBb">
											{{ form.BgBb.data }}
										</output>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									Are you romantically attracted to:	
								</td>
								<td style="width: 50%; text-align: right;">
									<p style="color: #ffffff;">
										Males:{{form.Rm(size=30)}}<br>
										Females:{{form.Rf(size=30)}}<br>
										NBs:{{form.Rn(size=30)}}<br>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									Are you sexually attracted to:	
								</td>
								<td style="width: 50%; text-align: right;">
									<p style="color: #ffffff;">
										Males:{{form.Sm(size=30)}}<br>
										Females:{{form.Sf(size=30)}}<br>
										NBs:{{form.Sn(size=30)}}<br>
									</p>
								</td>
							</tr>

							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.T.label}}
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.T(size=30)}}
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.Q.label}}
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.Q(size=30)}}
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.GP.label}}<br>
									{{form.ShowGP.label}}<br>
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										P {{form.GP(size=30)}} V<br>
										{{form.ShowGP(size=30)}}
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									<script>
										function outputUpdater(R) {
										document.querySelector('#SelectedR').value = Math.round(R);
										outputUpdatecolor(document.querySelector('#SelectedR').value,document.querySelector('#SelectedG').value,document.querySelector('#SelectedB').value);
										}
										function outputUpdateg(G) {
										document.querySelector('#SelectedG').value = Math.round(G);
										outputUpdatecolor(document.querySelector('#SelectedR').value,document.querySelector('#SelectedG').value,document.querySelector('#SelectedB').value);
										}
										function outputUpdateb(B) {
										document.querySelector('#SelectedB').value = Math.round(B);
										outputUpdatecolor(document.querySelector('#SelectedR').value,document.querySelector('#SelectedG').value,document.querySelector('#SelectedB').value);
										}
										function RGBToHex(r,g,b) {
										  r = r.toString(16);
										  g = g.toString(16);
										  b = b.toString(16);

										  if (r.length == 1)
											r = "0" + r;
										  if (g.length == 1)
											g = "0" + g;
										  if (b.length == 1)
											b = "0" + b;

										  return "#" + r + g + b;
										}
										function outputUpdatecolor(R,G,B) {
										var br = Math.round(R*2.55)
										var bg = Math.round(G*2.55)
										var bb = Math.round(B*2.55)
										var bc = RGBToHex(br,bg,bb)
										document.querySelector("#bordercolor").style.backgroundColor = bc;
										}

    								</script>
									{{form.R.label}}
									<div id="bordercolor" style="background-color: white; width: 100%; height 100%;">
									<br>
									</div>
								</td>
								<td style="width: 50%; text-align: center;">
									
									<p style="color: #ffffff;">
										{{ form.R(min=0, max=255, oninput="outputUpdater(value)") }}
       									<output for="R" id="SelectedR">
											{{ form.R.data }}
										</output>
										<br>
										{{ form.G(min=0, max=255, oninput="outputUpdateg(value)") }}
       									<output for="G" id="SelectedG">
											{{ form.G.data }}
										</output>
										<br>
										{{ form.B(min=0, max=255, oninput="outputUpdateb(value)") }}
       									<output for="B" id="SelectedB">
											{{ form.B.data }}
										</output>

									</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.SPP.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.SPP(size=15)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.TPP.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff; width:">
											{{form.TPP(size=15)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										Corner Pride Flags:
									</td>
									<td style="width: 50%; text-align: right;">
										<p style="color: #ffffff;">
											Top Left:{{form.Pride1(size=1)}}<br>
											Top Right:{{form.Pride2(size=1)}}<br>
											Bottom Left:{{form.Pride3(size=1)}}<br>
											Bottom Right:{{form.Pride4(size=1)}}<br>
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.S.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.S(size=30)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										&nbsp;
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.Submit(size=30)}}
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
</div>

{% endblock %}