{% extends 'base.html' %}

{% block content %}
<br>
	<div>
		<a href="https://srgindex.herokuapp.com/create" class="buttonToggle">Original</a><a href="https://srgindex.herokuapp.com/crest" class="buttonToggleS">Crest</a>
	</div>
<br>
	<form action="" method="post">
	<div style="width: 100%; display: flex; align-items: center;justify-content: center">
		<table style="height: 50%; width: 50%; background-color: #263238;" border="5" width="50%" cellpadding="5">
			<tbody>
				<tr>
					<td style="width: 50%; text-align: center;">
						<h1><span style="color: #ffffff;">Crest</span></h1>
					</td>
				</tr>
				<tr>
				<td style="width: 50%;">
					<table style="height: 50%; width: 50%; margin-left: auto; margin-right: auto;" border="0" width="50%" cellpadding="5">
						<tbody>
							<tr>
								<td style="width: 50%;text-align: left; color: #ffffff;">
									<p>
										{{form.Gender.label}}
									</p>
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.Gender(size=1)}}
										{{form.Go(size=6)}}<br>
										<p style="color: #ffffff;">
										If NB or overriding the colour please specify gender identity
										</p>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.O.label}}
										
								</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
										{{form.O(size=30)}}
										</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.BgRa.label}}

								</td>
								<td style="width: 50%; text-align: center;">
									<script>
   									function outputUpdateBgRa(BgRa) {
    								document.querySelector('#SelectedBgRa').value = Math.round(BgRa);
    								}
    								function outputUpdateBgGa(BgGa) {
    								document.querySelector('#SelectedBgGa').value = Math.round(BgGa);
    								}
    								function outputUpdateBgBa(BgBa) {
    								document.querySelector('#SelectedBgBa').value = Math.round(BgBa);
    								}
    								</script>
									<p style="color: #ffffff;">
										{{ form.BgRa(min=0, max=255, oninput="outputUpdateBgRa(value)") }}
       									<output for="BgRa" id="SelectedBgRa">
											{{ form.BgRa.data }}
										</output>
										<br>
										{{ form.BgGa(min=0, max=255, oninput="outputUpdateBgGa(value)") }}
       									<output for="BgGa" id="SelectedBgGa">
											{{ form.BgGa.data }}
										</output>
										<br>
										{{ form.BgBa(min=0, max=255, oninput="outputUpdateBgBa(value)") }}
       									<output for="BgBa" id="SelectedBgBa">
											{{ form.BgBa.data }}
										</output>

									</p>
									</td>
								</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.BgRa.label}}

								</td>
								<td style="width: 50%; text-align: center;">
									<script>
   									function outputUpdateBgRb(BgRb) {
    								document.querySelector('#SelectedBgRb').value = Math.round(BgRb);
    								}
    								function outputUpdateBgGb(BgGb) {
    								document.querySelector('#SelectedBgGb').value = Math.round(BgGb);
    								}
    								function outputUpdateBgBa(BgBb) {
    								document.querySelector('#SelectedBgBb').value = Math.round(BgBb);
    								}
    								</script>
									<p style="color: #ffffff;">
										{{ form.BgRb(min=0, max=255, oninput="outputUpdateBgRb(value)") }}
       									<output for="BgRb" id="SelectedBgRb">
											{{ form.BgRb.data }}
										</output>
										<br>
										{{ form.BgGb(min=0, max=255, oninput="outputUpdateBgGb(value)") }}
       									<output for="BgGb" id="SelectedBgGb">
											{{ form.BgGb.data }}
										</output>
										<br>
										{{ form.BgBb(min=0, max=255, oninput="outputUpdateBgBb(value)") }}
       									<output for="BgBb" id="SelectedBgBb">
											{{ form.BgBb.data }}
										</output>

									</p>
									</td>
								</tr>
							<tr>
								<td style="width: 50%; text-align: center; color: #ffffff;">
									Are you romantically attracted to:	
								</td>
								<td style="width: 50%; text-align: right;">
									<p style="color: #ffffff;">
										Males:{{form.Rm(size=30)}}<br>
										Females:{{form.Rf(size=30)}}<br>
										NBs:{{form.Rn(size=30)}}<br>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: center; color: #ffffff;">
									Are you sexually attracted to:	
								</td>
								<td style="width: 50%; text-align: right;">
									<p style="color: #ffffff;">
										Males:{{form.Sm(size=30)}}<br>
										Females:{{form.Sf(size=30)}}<br>
										NBs:{{form.Sn(size=30)}}<br>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.GP.label}}<br>
									{{form.ShowGP.label}}<br>
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										P {{form.GP(size=30)}} V<br>
										{{form.ShowGP(size=30)}}
									</p>
								</td>
							</tr>

							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.T.label}}
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.T(size=30)}}
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.Q.label}}
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.Q(size=30)}}
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.TR.label}}

								</td>
								<td style="width: 50%; text-align: center;">
									<script>
   									function outputUpdateTR(TR) {
    								document.querySelector('#SelectedTR').value = Math.round(TR);
    								}
    								function outputUpdateTG(TG) {
    								document.querySelector('#SelectedTG').value = Math.round(TG);
    								}
    								function outputUpdateTB(TB) {
    								document.querySelector('#SelectedTB').value = Math.round(TB);
    								}
    								</script>
									<p style="color: #ffffff;">
										{{ form.TR(min=0, max=255, oninput="outputUpdateTR(value)") }}
       									<output for="TR" id="SelectedTR">
											{{ form.TR.data }}
										</output>
										<br>
										{{ form.TG(min=0, max=255, oninput="outputUpdateTG(value)") }}
       									<output for="TG" id="SelectedTG">
											{{ form.TG.data }}
										</output>
										<br>
										{{ form.TB(min=0, max=255, oninput="outputUpdateTB(value)") }}
       									<output for="TB" id="SelectedTB">
											{{ form.TB.data }}
										</output>

									</p>
									</td>
								</tr>
								<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.AR.label}}

								</td>
									<td style="width: 50%; text-align: center;">
									<script>
   									function outputUpdateAR(AR) {
    								document.querySelector('#SelectedAR').value = Math.round(AR);
    								}
    								function outputUpdateAG(AG) {
    								document.querySelector('#SelectedAG').value = Math.round(AG);
    								}
    								function outputUpdateAB(AB) {
    								document.querySelector('#SelectedAB').value = Math.round(AB);
    								}
    								</script>
									<p style="color: #ffffff;">
										{{ form.AR(min=0, max=255, oninput="outputUpdateAR(value)") }}
       									<output for="AR" id="SelectedAR">
											{{ form.AR.data }}
										</output>
										<br>
										{{ form.AG(min=0, max=255, oninput="outputUpdateAG(value)") }}
       									<output for="AG" id="SelectedAG">
											{{ form.AG.data }}
										</output>
										<br>
										{{ form.AB(min=0, max=255, oninput="outputUpdateAB(value)") }}
       									<output for="AB" id="SelectedAB">
											{{ form.AB.data }}
										</output>

									</p>
									</td>
								</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.WR.label}}

								</td>
								<td style="width: 50%; text-align: center;">
									<script>
   									function outputUpdateWR(WR) {
    								document.querySelector('#SelectedWR').value = Math.round(WR);
    								}
    								function outputUpdateWG(WG) {
    								document.querySelector('#SelectedWG').value = Math.round(WG);
    								}
    								function outputUpdateWB(WB) {
    								document.querySelector('#SelectedWB').value = Math.round(WB);
    								}
    								</script>
									<p style="color: #ffffff;">
										{{ form.WR(min=0, max=255, oninput="outputUpdateWR(value)") }}
       									<output for="WR" id="SelectedWR">
											{{ form.WR.data }}
										</output>
										<br>
										{{ form.WG(min=0, max=255, oninput="outputUpdateWG(value)") }}
       									<output for="WG" id="SelectedWG">
											{{ form.WG.data }}
										</output>
										<br>
										{{ form.WB(min=0, max=255, oninput="outputUpdateWB(value)") }}
       									<output for="WB" id="SelectedWB">
											{{ form.WB.data }}
										</output>

									</p>
									</td>
								</tr>
								<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.GR.label}}

								</td>
									<td style="width: 50%; text-align: center;">
									<script>
   									function outputUpdateGR(GR) {
    								document.querySelector('#SelectedGR').value = Math.round(GR);
    								}
    								function outputUpdateGG(GG) {
    								document.querySelector('#SelectedGG').value = Math.round(GG);
    								}
    								function outputUpdateGB(GB) {
    								document.querySelector('#SelectedGB').value = Math.round(GB);
    								}
    								</script>
									<p style="color: #ffffff;">
										{{ form.GR(min=0, max=255, oninput="outputUpdateGR(value)") }}
       									<output for="GR" id="SelectedGR">
											{{ form.GR.data }}
										</output>
										<br>
										{{ form.GG(min=0, max=255, oninput="outputUpdateGG(value)") }}
       									<output for="GG" id="SelectedGG">
											{{ form.GG.data }}
										</output>
										<br>
										{{ form.GB(min=0, max=255, oninput="outputUpdateGB(value)") }}
       									<output for="GB" id="SelectedGB">
											{{ form.GB.data }}
										</output>

									</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.Roman.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.Roman(size=15)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.SPP.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.SPP(size=15)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.TPP.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff; width:">
											{{form.TPP(size=15)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.S.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.S(size=30)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										&nbsp;
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.Submit(size=30)}}
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

{% endblock %}