{% extends 'base.html' %}

{% block content %}
<br>
	<div>
		<a href="https://srgindex.herokuapp.com/create" class="buttonToggle">Original</a><a href="https://srgindex.herokuapp.com/crest" class="buttonToggleS">Crest</a>
	</div>
<br>
	<form action="" method="post">
	<div style="width: 100%; display: flex; align-items: center;justify-content: center">
		<table style="height: 50%; width: 50%; background-color: #263238;" border="5" width="50%" cellpadding="5">
			<tbody>
				<tr>
					<td style="width: 50%; text-align: center;">
						<h1><span style="color: #ffffff;">Crest</span></h1>
					</td>
				</tr>
				<tr>
				<td style="width: 50%;">
					<table style="height: 50%; width: 50%; margin-left: auto; margin-right: auto;" border="0" width="50%" cellpadding="5">
						<tbody>
							<tr>
								<td style="width: 50%;text-align: left; color: #ffffff;">
									<p>
										{{form.Gender.label}}
									</p>
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.Gender(size=1)}}
										{{form.Go(size=6)}}<br>
										<p style="color: #ffffff;">
										If NB or overriding the colour please specify gender identity
										</p>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.O.label}}
										
								</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
										{{form.O(size=30)}}
										</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									<script>
										function outputUpdateBgRa(BgRa) {
										document.querySelector('#SelectedBgRa').value = Math.round(BgRa);
										outputUpdatecolorl();
										}
										function outputUpdateBgGa(BgGa) {
										document.querySelector('#SelectedBgGa').value = Math.round(BgGa);
										outputUpdatecolorl();
										}
										function outputUpdateBgBa(BgBa) {
										document.querySelector('#SelectedBgBa').value = Math.round(BgBa);
										outputUpdatecolorl();
										}
										var rgbToHex = function (rgb) { 
										var hex = Number(rgb).toString(16);
										  if (hex.length < 2) {
											   hex = "0" + hex;
										  }
										  return hex;
										};
										var fullColorHex = function(r,g,b) {   
										var red = rgbToHex(r);
										var green = rgbToHex(g);
										var blue = rgbToHex(b);
										return "#"+red+green+blue;
										};
										function outputUpdatecolorl() {
										var BgRa = document.querySelector('#SelectedBgRa').value;
										var BgGa = document.querySelector('#SelectedBgGa').value;
										var BgBa = document.querySelector('#SelectedBgBa').value;
										var BgCa = fullColorHex(BgRa,BgGa,BgBa);
										document.querySelector("#lcolor").style.backgroundColor = BgCa;
										document.getElementById("left").innerHTML = BgCa;
										}

										</script>
										{{form.BgRa.label}}
										<div id="lcolor" style="background-color: white; width: 100%; height 100%;">
										<br>
										</div>
								</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											R:
											{{ form.BgRa(min=0, max=255, oninput="outputUpdateBgRa(value)") }}
											
											<br>
											G:
											{{ form.BgGa(min=0, max=255, oninput="outputUpdateBgGa(value)") }}
											
											<br>
											B:
											{{ form.BgBa(min=0, max=255, oninput="outputUpdateBgBa(value)") }}
											
											<br>
																						R:
											<output for="BgRa" id="SelectedBgRa">
												{{ form.BgRa.data }}
											</output>
											 G:
											<output for="BgGa" id="SelectedBgGa">
												{{ form.BgGa.data }}
											</output>
											 B:
											<output for="BgBa" id="SelectedBgBa">
												{{ form.BgBa.data }}
											</output>
										
										</p>
										<script>outputUpdatecolorl();</script>
									</td>
								</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									<script>
										function outputUpdateBgRb(BgRb) {
										document.querySelector('#SelectedBgRb').value = Math.round(BgRb);
										outputUpdatecolorr();
										}
										function outputUpdateBgGb(BgGb) {
										document.querySelector('#SelectedBgGb').value = Math.round(BgGb);
										outputUpdatecolorr();
										}
										function outputUpdateBgBb(BgBb) {
										document.querySelector('#SelectedBgBb').value = Math.round(BgBb);
										outputUpdatecolorr();
										}
										var rgbToHex = function (rgb) { 
										var hex = Number(rgb).toString(16);
										  if (hex.length < 2) {
											   hex = "0" + hex;
										  }
										  return hex;
										};
										var fullColorHex = function(r,g,b) {   
										var red = rgbToHex(r);
										var green = rgbToHex(g);
										var blue = rgbToHex(b);
										return "#"+red+green+blue;
										};
										function outputUpdatecolorr() {
										var BgRb = document.querySelector('#SelectedBgRb').value;
										var BgGb = document.querySelector('#SelectedBgGb').value;
										var BgBb = document.querySelector('#SelectedBgBb').value;
										var BgCb = fullColorHex(BgRb,BgGb,BgBb);
										document.querySelector("#rcolor").style.backgroundColor = BgCb;
										document.getElementById("right").innerHTML = BgCb;
										}


    								</script>
									{{form.BgRb.label}}
									<div id="rcolor" style="background-color: white; width: 100%; height 100%;">
										<br>
									</div>									
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										R:
										{{ form.BgRb(min=0, max=255, oninput="outputUpdateBgRb(value)") }}
       									
										<br>
										G:
										{{ form.BgGb(min=0, max=255, oninput="outputUpdateBgGb(value)") }}
										
										<br>
										B:
										{{ form.BgBb(min=0, max=255, oninput="outputUpdateBgBb(value)") }}
										
										<br>
										R:
										<output for="BgRb" id="SelectedBgRb">
											{{ form.BgRb.data }}
										</output>
										 G:
       									<output for="BgGb" id="SelectedBgGb">
											{{ form.BgGb.data }}
										</output>
										 B:
										<output for="BgBb" id="SelectedBgBb">
											{{ form.BgBb.data }}
										</output>
       									
									
									</p>
									<script>outputUpdatecolorr();</script>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: center; color: #ffffff;">
									Are you romantically attracted to:	
								</td>
								<td style="width: 50%; text-align: right;">
									<p style="color: #ffffff;">
										Males:{{form.Rm(size=30)}}<br>
										Females:{{form.Rf(size=30)}}<br>
										NBs:{{form.Rn(size=30)}}<br>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: center; color: #ffffff;">
									Are you sexually attracted to:	
								</td>
								<td style="width: 50%; text-align: right;">
									<p style="color: #ffffff;">
										Males:{{form.Sm(size=30)}}<br>
										Females:{{form.Sf(size=30)}}<br>
										NBs:{{form.Sn(size=30)}}<br>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.GP.label}}<br>
									{{form.ShowGP.label}}<br>
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										P {{form.GP(size=30)}} V<br>
										{{form.ShowGP(size=30)}}
									</p>
								</td>
							</tr>

							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.T.label}}
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.T(size=30)}}
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									{{form.Q.label}}
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										{{form.Q(size=30)}}
									</p>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									<script>
										function outputUpdateTR(TR) {
										document.querySelector('#SelectedTR').value = Math.round(TR);
										outputUpdatecolorT();
										}
										function outputUpdateTG(TG) {
										document.querySelector('#SelectedTG').value = Math.round(TG);
										outputUpdatecolorT();
										}
										function outputUpdateTB(TB) {
										document.querySelector('#SelectedTB').value = Math.round(TB);
										outputUpdatecolorT();
										}
										var rgbToHex = function (rgb) { 
										var hex = Number(rgb).toString(16);
										  if (hex.length < 2) {
											   hex = "0" + hex;
										  }
										  return hex;
										};
										var fullColorHex = function(r,g,b) {   
										var red = rgbToHex(r);
										var green = rgbToHex(g);
										var blue = rgbToHex(b);
										return "#"+red+green+blue;
										};
										function outputUpdatecolorT() {
										var TR = document.querySelector('#SelectedTR').value;
										var TG = document.querySelector('#SelectedTG').value;
										var TB = document.querySelector('#SelectedTB').value;
										var TC = fullColorHex(TR,TG,TB);
										document.querySelector("#Tcolor").style.backgroundColor = TC;
										document.getElementById("Trim").innerHTML = TC;
										}


    								</script>
									{{form.TR.label}}
									<div id="Tcolor" style="background-color: white; width: 100%; height 100%;">
										<br>
									</div>									
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										R:
										{{ form.TR(min=0, max=255, oninput="outputUpdateTR(value)") }}
       									
										<br>
										G:
										{{ form.TG(min=0, max=255, oninput="outputUpdateTG(value)") }}
										
										<br>
										B:
										{{ form.TB(min=0, max=255, oninput="outputUpdateTB(value)") }}
										
										<br>
										R:
										<output for="TR" id="SelectedTR">
											{{ form.TR.data }}
										</output>
										 G:
       									<output for="TG" id="SelectedTG">
											{{ form.TG.data }}
										</output>
										 B:
										<output for="TB" id="SelectedTB">
											{{ form.TB.data }}
										</output>
       									
									
									</p>
									<script>outputUpdatecolorT();</script>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									<script>
										function outputUpdateAR(AR) {
										document.querySelector('#SelectedAR').value = Math.round(AR);
										outputUpdatecolorA();
										}
										function outputUpdateAG(AG) {
										document.querySelector('#SelectedAG').value = Math.round(AG);
										outputUpdatecolorA();
										}
										function outputUpdateAB(AB) {
										document.querySelector('#SelectedAB').value = Math.round(AB);
										outputUpdatecolorA();
										}
										var rgbToHex = function (rgb) { 
										var hex = Number(rgb).toString(16);
										  if (hex.length < 2) {
											   hex = "0" + hex;
										  }
										  return hex;
										};
										var fullColorHex = function(r,g,b) {   
										var red = rgbToHex(r);
										var green = rgbToHex(g);
										var blue = rgbToHex(b);
										return "#"+red+green+blue;
										};
										function outputUpdatecolorA() {
										var AR = document.querySelector('#SelectedAR').value;
										var AG = document.querySelector('#SelectedAG').value;
										var AB = document.querySelector('#SelectedAB').value;
										var AC = fullColorHex(AR,AG,AB);
										document.querySelector("#Acolor").style.backgroundColor = AC;
										document.getElementById("Adornment").innerHTML = AC;
										}


    								</script>
									{{form.AR.label}}
									<div id="Acolor" style="background-color: white; width: 100%; height 100%;">
										<br>
									</div>									
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										R:
										{{ form.AR(min=0, max=255, oninput="outputUpdateAR(value)") }}
       									
										<br>
										G:
										{{ form.AG(min=0, max=255, oninput="outputUpdateAG(value)") }}
										
										<br>
										B:
										{{ form.AB(min=0, max=255, oninput="outputUpdateAB(value)") }}
										
										<br>
										R:
										<output for="AR" id="SelectedAR">
											{{ form.AR.data }}
										</output>
										 G:
       									<output for="AG" id="SelectedAG">
											{{ form.AG.data }}
										</output>
										 B:
										<output for="AB" id="SelectedAB">
											{{ form.AB.data }}
										</output>
       									
									
									</p>
									<script>outputUpdatecolorA();</script>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									<script>
										function outputUpdateWR(WR) {
										document.querySelector('#SelectedWR').value = Math.round(WR);
										outputUpdatecolorW();
										}
										function outputUpdateWG(WG) {
										document.querySelector('#SelectedWG').value = Math.round(WG);
										outputUpdatecolorW();
										}
										function outputUpdateWB(WB) {
										document.querySelector('#SelectedWB').value = Math.round(WB);
										outputUpdatecolorW();
										}
										var rgbToHex = function (rgb) { 
										var hex = Number(rgb).toString(16);
										  if (hex.length < 2) {
											   hex = "0" + hex;
										  }
										  return hex;
										};
										var fullColorHex = function(r,g,b) {   
										var red = rgbToHex(r);
										var green = rgbToHex(g);
										var blue = rgbToHex(b);
										return "#"+red+green+blue;
										};
										function outputUpdatecolorW() {
										var WR = document.querySelector('#SelectedWR').value;
										var WG = document.querySelector('#SelectedWG').value;
										var WB = document.querySelector('#SelectedWB').value;
										var WC = fullColorHex(WR,WG,WB);
										document.querySelector("#Wcolor").style.backgroundColor = WC;
										document.getElementById("Wings").innerHTML = WC;
										}


    								</script>
									{{form.WR.label}}
									<div id="Wcolor" style="background-color: white; width: 100%; height 100%;">
										<br>
									</div>									
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										R:
										{{ form.WR(min=0, max=255, oninput="outputUpdateWR(value)") }}
       									
										<br>
										G:
										{{ form.WG(min=0, max=255, oninput="outputUpdateWG(value)") }}
										
										<br>
										B:
										{{ form.WB(min=0, max=255, oninput="outputUpdateWB(value)") }}
										
										<br>
										R:
										<output for="WR" id="SelectedWR">
											{{ form.WR.data }}
										</output>
										 G:
       									<output for="WG" id="SelectedWG">
											{{ form.WG.data }}
										</output>
										 B:
										<output for="WB" id="SelectedWB">
											{{ form.WB.data }}
										</output>
       									
									
									</p>
									<script>outputUpdatecolorW();</script>
								</td>
							</tr>
							<tr>
								<td style="width: 50%; text-align: left; color: #ffffff;">
									<script>
										function outputUpdateGR(GR) {
										document.querySelector('#SelectedGR').value = Math.round(GR);
										outputUpdatecolorG();
										}
										function outputUpdateGG(GG) {
										document.querySelector('#SelectedGG').value = Math.round(GG);
										outputUpdatecolorG();
										}
										function outputUpdateGB(GB) {
										document.querySelector('#SelectedGB').value = Math.round(GB);
										outputUpdatecolorG();
										}
										var rgbToHex = function (rgb) { 
										var hex = Number(rgb).toString(16);
										  if (hex.length < 2) {
											   hex = "0" + hex;
										  }
										  return hex;
										};
										var fullColorHex = function(r,g,b) {   
										var red = rgbToHex(r);
										var green = rgbToHex(g);
										var blue = rgbToHex(b);
										return "#"+red+green+blue;
										};
										function outputUpdatecolorG() {
										var GR = document.querySelector('#SelectedGR').value;
										var GG = document.querySelector('#SelectedGG').value;
										var GB = document.querySelector('#SelectedGB').value;
										var GC = fullColorHex(GR,GG,GB);
										document.querySelector("#Gcolor").style.backgroundColor = GC;
										document.getElementById("Glow").innerHTML = GC;
										}


    								</script>
									{{form.GR.label}}
									<div id="Gcolor" style="background-color: white; width: 100%; height 100%;">
										<br>
									</div>									
								</td>
								<td style="width: 50%; text-align: center;">
									<p style="color: #ffffff;">
										R:
										{{ form.GR(min=0, max=255, oninput="outputUpdateGR(value)") }}
       									
										<br>
										G:
										{{ form.GG(min=0, max=255, oninput="outputUpdateGG(value)") }}
										
										<br>
										B:
										{{ form.GB(min=0, max=255, oninput="outputUpdateGB(value)") }}
										
										<br>
										R:
										<output for="GR" id="SelectedGR">
											{{ form.GR.data }}
										</output>
										 G:
       									<output for="GG" id="SelectedGG">
											{{ form.GG.data }}
										</output>
										 B:
										<output for="GB" id="SelectedGB">
											{{ form.GB.data }}
										</output>
       									
									
									</p>
									<script>outputUpdatecolorG();</script>
								</td>
							</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.Roman.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.Roman(size=15)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.SPP.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.SPP(size=15)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.TPP.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff; width:">
											{{form.TPP(size=15)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										{{form.S.label}}
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.S(size=30)}}
										</p>
									</td>
								</tr>
								<tr>
									<td style="width: 50%; text-align: left; color: #ffffff;">
										&nbsp;
									</td>
									<td style="width: 50%; text-align: center;">
										<p style="color: #ffffff;">
											{{form.Submit(size=30)}}
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

{% endblock %}