{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} What is an SRG? {% endblock %}</h1><br>
	<div style="width: 50%; background-color: #567572FF; align-items: center; margin-left: auto; margin-right: auto; justify-content: center; text-align: center; border-style: solid;" border="5">
	

	<p style="color: #ffffff;">An SRG is an identifier you can use to tell people your Sexual/Romantic orientation and Gender. </p> <br>
	<a href=/create>
	Try it yourself 
	</a>
	<h2 style="color: #ffffff;">What does it mean?</h2> <br>
	
		<p style="color: #ffffff;">This is my SRG, I'm a BiSexual BiRomantic Cis Male.</p>  <br>
	
	<img style="display: flex; flex: 100%; width: 30vw;  margin-left: auto; margin-right: auto;" src="https://i.imgur.com/VhMtiae.png" alt="MySRG">
	
		<p style="color: #ffffff;">The background displays gender. Gray for Agender, Blue for Male, Pink for Female and Blue/Pink for Intergender</p>  <br>

		<p style="color: #ffffff;">The central number is your SRG number this encapsulates all your other information. </p> <br>

		<p style="color: #ffffff;">The labels on the left denote your romantic attractions </p> <br>

		<p style="color: #ffffff;">The labels on the right denote your sexual attractions </p> <br>

		<p style="color: #ffffff;">The Text at the top is your second person pronoun</p>  <br>

		<p style="color: #ffffff;">The Text at the bottom is your third person pronoun </p> <br>
	
	<img style="display: flex; flex: 100%; width: 30vw;  margin-left: auto; margin-right: auto;" src="https://i.imgur.com/em38Wom.png" alt="QuestioningTransFemAceAro">
	
		<p style="color: #ffffff;">You can also choose to denote that you are trans. You dont have to though obviously as trans women are women and trans men are men.</p>  <br>

		<p style="color: #ffffff;">The questionmark denotes you are still qustioning your Sexual/Romantic/Gender identity.</p> <br>
	
	<a href=/create>
	Try it yourself 
	</a>
	<br>
	<br>
	<br>
	<br>
</div>
	
{% endblock %}




