{% extends 'base.html' %}

{% block content %}
  <div style="width: 100%; display: flex; align-items: center;justify-content: center">
	<div style="width: 80%; background-color: #567572FF; align-items: center; margin-left: auto; margin-right: auto; justify-content: center; text-align: center; border-style: solid;" border="5">
	  <h1 style="color: #ffffff; ">What is an SRG?</h1><br>
	
	<p style="color: #ffffff;">An SRG is an identifier you can use to tell people your Sexual/Romantic orientation and Gender. </p> <br>
	<a href=/create>
	Try it yourself 
	</a>
	<h2 style="color: #ffffff;">What does it mean?</h2>
	
		<p style="color: #ffffff;  font-size: 80%;">This is my SRG, I'm a BiSexual BiRomantic Cis Male.</p> 
	
	<img style="display: flex; flex: 100%; width: 30vw;  margin-left: auto; margin-right: auto;" src="https://i.imgur.com/VhMtiae.png" alt="MySRG">
	
		<p style="color: #ffffff;  font-size: 80%;">The background displays gender. Gray for Agender, Blue for Male, Pink for Female and Blue/Pink for Intergender</p>  

		<p style="color: #ffffff;  font-size: 80%;">The central number is your SRG number this encapsulates all your other information. </p> 

		<p style="color: #ffffff;  font-size: 80%;">The labels on the left denote your romantic attractions </p> 

		<p style="color: #ffffff;  font-size: 80%;">The labels on the right denote your sexual attractions </p> 

		<p style="color: #ffffff;  font-size: 80%;">The Text at the top is your second person pronoun</p> 

		<p style="color: #ffffff;  font-size: 80%;">The Text at the bottom is your third person pronoun </p> 
	
	<img style="display: flex; flex: 100%; width: 30vw;  margin-left: auto; margin-right: auto;" src="https://i.imgur.com/em38Wom.png" alt="QuestioningTransFemAceAro">
	
		<p style="color: #ffffff;  font-size: 80%;">You can also choose to denote that you are trans. This is denoted with an asterisk * You dont have to though obviously as trans women are women and trans men are men.</p>  

		<p style="color: #ffffff;  font-size: 80%;">The questionmark denotes you are still qustioning your Sexual/Romantic/Gender identity.</p> 
	
	<a href=/create>
	Try it yourself 
	</a>
	<br>
	<br>
	<br>
	<br>
</div>
</div>	
{% endblock %}




